* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Asset', cursive;
  font-family: 'Averia Serif Libre', cursive;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Jacques Francois Shadow', cursive;
  font-family: 'Merriweather', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Rye', cursive;
}
